fn conf_enable_posts_recaptcha {
    conf_enable_app posts_recaptcha
}

fn posts_recaptcha_init {
    if(~ $req_path /p/* &&
       {~ $#posts_users_only 0 || check_user $groups_allowed_posts} &&
       ! ~ '' $"post_arg_comment && ~ '' $"post_arg_parent &&
       ! ~ '' $"post_arg_grecaptcharesponse &&
       ~ `{echo $post_arg_comment | wc -c |
           awk '{print ($1 < '$charlimit' + 2)}'} 1 &&
       ~ `{wget --post-data'=secret='$recaptchasecret'&response='$post_arg_grecaptcharesponse -O - https://www.google.com/recaptcha/api/siteverify | grep -c true} 1) {
        # post file modify timestamps are set to 00:00 of the current date to    
        # anonymize users who post in quick succession
        date=`{date -n | awk '{print (int($1 / 86400) * 86400)}'}
        postn=`{awk 'echo $1++' < $sitedir/postnum}
        echo $postn > $sitedir/postnum
        touch -t $date $sitedir/postnum
        postf=$sitedir/p/$postn.txt
        postd=$sitedir/p/$postn^_werc/

        umask 002
        echo $post_arg_comment | escape_html > $postf
        touch -t $date $postf
        mkdir $postd

        if(! ~ '' $"post_arg_tags) {
            # strip illegal characters, tolower, space-separate, and strip
            # duplicate tags
            tags=`{echo $post_arg_tags | sed 's/[^A-Za-z0-9_, ]//g' |
                   tr A-Z a-z | tr ',' $NEW_LINE | sed 's/^ *//; s/ /_/g' |
                   awk '!seen[$0]++'}
            for(i in $tags) {
                echo $i >> $postd/tags
                echo $postn >> $sitedir/_werc/tags/$i
                touch -t $date $sitedir/_werc/tags/$i
            }
        }
        touch -t $date $postd/tags

        if(! ~ '' $"post_arg_file) {
            ext=`{basename $post_arg_file |
                  sed 's/.*\.(.*)$/\1/; s/[^a-zA-Z0-9]//g'}
            mv /tmp/werc_file.*.data $postd/file.$ext
            exiftool '-all=' -overwrite_original -q $postd^file.$ext
            echo $ext > $postd/filetype
            touch -t $date $postd/file.* $postd/filetype
        }

        if(! ~ '' $"post_arg_password) {
            salt=`{tr -dc 'a-zA-Z' < /dev/urandom | fold -w 64 | sed q}
            echo -n $post_arg_password$salt | sha256sum | sed 's/  -$//' \
                 > etc/passwords/$postn
            echo $salt > etc/passwords/$postn^_salt
        }

        touch -t $date $postd
        post_redirect $req_url
    }
}
