fn conf_enable_replies_recaptcha {
    conf_enable_app replies_recaptcha
}

fn txt_handler {
    if(~ $req_path /p/[0-9]*) # direct post page ver
        postf=$1 fltr_cache full_`{basename $postf | sed 's/\.txt$//'} tpl_handler apps/replies_recaptcha/post.tpl
    if not # index ver (/p/|/p/recent|/p/following|/search)
        postf=$1 fltr_cache `{basename $postf | sed 's/\.txt$//'} tpl_handler apps/replies_recaptcha/post.tpl
}

fn replies_recaptcha_init {
    ll_add handlers_body_head tpl_handler `{get_lib_file replies_recaptcha/loadreplies.tpl apps/replies_recaptcha/loadreplies.tpl}

    if(~ $req_path /p/* &&
       {~ $#replies_users_only 0 || check_user $groups_allowed_replies} &&
       ! ~ '' $"post_arg_comment && ! ~ '' $"post_arg_parent &&
       ! ~ '' $"post_arg_grecaptcharesponse &&
       ~ `{echo $post_arg_comment | wc -c |
           awk '{print ($1 < '$charlimit' + 2)}'} 1 &&
       ~ `{wget --post-data'=secret='$recaptchasecret'&response='$post_arg_grecaptcharesponse -O - https://www.google.com/recaptcha/api/siteverify | grep -c true} 1) {
        if(test -f $sitedir/p/$post_arg_parent^_werc/postnum)
            postn=`{awk 'echo $1++' < $sitedir/p/$post_arg_parent^_werc/postnum}
        if not
            postn=0
        postf=$sitedir/p/$post_arg_parent^_werc/replies/$postn
        if(! test -f $postf)
            save_reply
    }
}

fn save_reply {
    umask 002
    mkdir -p $sitedir/p/$post_arg_parent^_werc/replies
    echo $post_arg_comment | escape_html > $postf
    echo $postn > $sitedir/p/$post_arg_parent^_werc/postnum
    touch -t `{date -n | awk '{print (int($1 / 86400) * 86400)}'} \
          $sitedir/p/$post_arg_parent^_werc/replies \
          $postf $sitedir/p/$post_arg_parent^_werc/postnum
    post_redirect $protocol://$SERVER_NAME/p/$post_arg_parent
}
